<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <style>
        html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; right: 0; left: 0; }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
</head>

<body>
    <div id="map" style="width: 100%; height: 100%;">
    <button id="print-button" onclick="printMarkers()">Print Markers</button> <!-- Button to print markers -->
    
    <script>
        var map = L.map('map').setView([62.791668, 22.841667], 12);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        //markerit
        var markers = {};
        var markerCounter = 0;

        //kelikameroiden tietojen haku, markkerien laitto, ja kuvat popuppiin
        fetch('/kelikamerat')
            .then(response => response.json())
            .then(data => {
                //käydään data läpi
                data.forEach(function(item) {
                    var marker = L.marker([item.lat, item.lon]).addTo(map);
                    console.log(marker);
                    //kuvalinkki
                    var imageUrl = item.image_url[0];
                    var popupContent = `
                    <b>Kelikameran kuva:</b><br>
                    <img src="${imageUrl}" alt="Image" style="max-width: 200px; max-height: 200px;">`;
                    marker.bindPopup(popupContent, {maxWidth: "auto"});
                });
            })
            .catch(error => {
                console.error('Error fetching coordinates:', error);
            });

        //kuuntelee milloin karttaa painetaan
        map.on('click', function(e) {
            var lat = e.latlng.lat.toFixed(6);
            var lon = e.latlng.lng.toFixed(6);

            var marker = createMarker(lat, lon);

            //markerin tiedot talteen
            markers[markerCounter] = {
                lat: lat,
                lon: lon,
                marker: marker
            };

            //koordinaattitiedot flaskiin
            var formData = new FormData();
            formData.append('lat', lat);
            formData.append('lon', lon);
            fetch('/klikkikoordinaatit', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
            markerCounter++;
        });

        //haetaan säätiedot koordinaattien perusteella
        function fetchWeatherData(lat, lon, markerCounter, marker) {
            fetch('/saatiedothaku?lat=${lat}&lon=${lon}')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const weatherInfo = data[markerCounter];
                    console.log(data);
                    const popupContent = `
                        <b>Coordinates:</b><br>
                        Latitude: ${lat}<br>
                        Longitude: ${lon}<br>
                        <b>Säätiedot:</b><br>
                        Kaupunki: ${weatherInfo.nimi}<br>
                        Lämpötila: ${weatherInfo['lämpötila']}°C<br>
                        Tuntuu kuin: ${weatherInfo['tuntuu kuin']}°C<br>
                        Näkyvyys: ${weatherInfo.näkyvyys} km<br>
                        Tuulennopeus: ${weatherInfo.tuuli} kph<br>
                        Tuulen suunta: ${weatherInfo['tuulen suunta']}<br>
                        Ilmapaine: ${weatherInfo['ilman paine']} mb<br>
                        Tila: ${weatherInfo.säätila}<br>'
                        `;
                    marker.bindPopup(popupContent).openPopup();
                    marker.openPopup();

                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

    function createMarker(lat, lon) {
        var marker = L.marker([lat, lon]).addTo(map);
        marker.markerId = markerCounter;
        marker.clickCount = 0;

        function delayedPopup() {
            marker.bindPopup(fetchWeatherData(lat, lon, markerCounter, marker));
        }

        //pitää olla viivettä tai ei toimi
        setTimeout(delayedPopup, 50); // Adjust the delay time as needed
        marker.on('click', function(e) {
            marker.clickCount++;
            if (marker.clickCount === 1) {
                map.removeLayer(marker); // Remove the marker on the second click
            } else {
                fetchWeatherData(lat, lon, markerCounter, marker);
            }
        });

        return marker;
    }

    
    </script>

</body>

</html>