<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <style>
        html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; right: 0; left: 0; }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
</head>

<body>
    <div id="map" style="width: 100%; height: 100%;">
    <button id="print-button" onclick="printMarkers()">Print Markers</button> <!-- Button to print markers -->

    <select id="places-dropdown" style="position: absolute; top: 10px; right: 10px; z-index: 1000;">
        <option value="default">Valitse kaupunki</option>
        <option value="helsinki">Helsinki</option>
        <option value="tampere">Tampere</option>
        <option value="espoo">Espoo</option>
        <option value="oulu">Oulu</option>
        <option value="turku">Turku</option>
        <option value="jyväskylä">Jyväskylä</option>
        <option value="rovaniemi">Rovaniemi</option>
        <option value="seinäjoki">Seinäjoki</option>
        <option value="lappeenranta">Lappeenranta</option>
        <option value="kuopio">Kuopio</option>
    </select>

    <script>
        var map = L.map('map').setView([62.791668, 22.841667], 12);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var helsinkiCoordinates = [60.1695, 24.9354]; 

        document.getElementById('places-dropdown').addEventListener('change', function() {
        var selectedPlace = this.value;
        if (selectedPlace === 'helsinki') {
            map.setView(helsinkiCoordinates, 12);
        }
    });

        var tampereCoordinates = [61.4978, 23.7610]; // Tampere coordinates

        document.getElementById('places-dropdown').addEventListener('change', function() {
        var selectedPlace = this.value;
        if (selectedPlace === 'tampere') {
            map.setView(tampereCoordinates, 12); // Set view to Tampere
        }
    });

        var espooCoordinates = [60.2055, 24.6559];

        document.getElementById('places-dropdown').addEventListener('change', function() {
        var selectedPlace = this.value;
        if (selectedPlace === 'espoo') {
            map.setView(espooCoordinates, 12);
        }
    });
    
        var ouluCoordinates = [65.0121, 25.4651]; 

        document.getElementById('places-dropdown').addEventListener('change', function() {
        var selectedPlace = this.value;
        if (selectedPlace === 'oulu') {
            map.setView(ouluCoordinates, 12);
        }
    });

        var turkuCoordinates = [60.4515, 22.2687]; 

        document.getElementById('places-dropdown').addEventListener('change', function() {
        var selectedPlace = this.value;
        if (selectedPlace === 'turku') {
            map.setView(turkuCoordinates, 12);
        }
    });

        var jyvaskylaCoordinates = [62.2426, 25.7472]; 

        document.getElementById('places-dropdown').addEventListener('change', function() {
        var selectedPlace = this.value;
        if (selectedPlace === 'jyväskylä') {
            map.setView(jyvaskylaCoordinates, 12);
        }
    });

    
        var rovaniemiCoordinates = [66.4970, 25.7247]; 

        document.getElementById('places-dropdown').addEventListener('change', function() {
        var selectedPlace = this.value;
        if (selectedPlace === 'rovaniemi') {
            map.setView(rovaniemiCoordinates, 12);
        }
    });
    
    
        var seinajokiCoordinates = [62.7903, 22.8407]; 

        document.getElementById('places-dropdown').addEventListener('change', function() {
        var selectedPlace = this.value;
        if (selectedPlace === 'seinäjoki') {
            map.setView(seinajokiCoordinates, 12);
        }
    });

        var lappeenrantaCoordinates = [61.0586, 28.1865]; 

        document.getElementById('places-dropdown').addEventListener('change', function() {
        var selectedPlace = this.value;
        if (selectedPlace === 'lappeenranta') {
            map.setView(lappeenrantaCoordinates, 12);
        }
    });

    var kuopioCoordinates = [62.8925, 27.6783]; 

        document.getElementById('places-dropdown').addEventListener('change', function() {
        var selectedPlace = this.value;
        if (selectedPlace === 'kuopio') {
            map.setView(kuopioCoordinates, 12);
        }
    });

        //markerit
        var markers = {};
        var markerCounter = 0;
        var marker = null;

         /* Oman sijainnin ikoni*/
         var omaIkoni = new L.Icon({
            iconUrl: 'https://www.pngall.com/wp-content/uploads/13/Capybara-PNG-Photos.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png', // voi vaihtaa omiin kuviin nämä 2 riviä
            iconSize: [40, 55],
            iconAnchor: [12, 41],
            popupAnchor: [0, -15],
            shadowSize: [41, 41]
            });


            /* Kelikameran ikoni*/
            var kelikameraIkoni = new L.Icon({
            iconUrl: 'https://cdn-icons-png.flaticon.com/512/83/83574.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png', // voi vaihtaa omiin kuviin nämä 2 riviä
            iconSize: [32, 34],
            iconAnchor: [12, 41],
            popupAnchor: [10, -40],
            shadowSize: [41, 41]
            });
            

        //käyttäjän sijainti
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    var lat = position.coords.latitude;
                    var lon = position.coords.longitude;

                //lähetä koordinaatit flaskiin(ne on numeroita, joten käytä float tallentamiseen)
                    fetch(`/kayttajasaatiedot?lat=${lat}&lon=${lon}`)
                        .then(response => response.json())
                        .then(data => {
                        //markerin laitto+säätiedot
                            var latlng = [lat, lon];
                            var sijaintisaa = `<b>Oma sijainti</b><br>
                                    <b>${data.nimi}</b><br>
                                    Lämpötila: ${data.lämpötila}°C<br>
                                    Tuntuu kuin: ${data["tuntuu kuin"]}°C<br>
                                    Näkyvyys: ${data.näkyvyys} km<br>
                                    Tuuli: ${data.tuuli} km/h<br>
                                    Tuulen suunta: ${data["tuulen suunta"]}<br>
                                    Ilman paine: ${data["ilman paine"]} mb<br>
                                    Säätila: ${data.säätila}<br>`;
                            map.panTo(latlng);
                            L.marker(latlng, {icon: omaIkoni}).addTo(map).bindPopup(sijaintisaa).openPopup();
                            map.setView(latlng, 15);
                        })
                        .catch(error => console.error('Error fetching weather data:', error));
                },
                (err) => console.warn(`Geolocation error (${err.code}): ${err.message}`),
                { timeout: 20000 } // 2 millisekunnin timeout
            );
        }

        //kelikameroiden tietojen haku, markkerien laitto, ja kuvat popuppiin
        fetch('/kelikamerat')
            .then(response => response.json())
            .then(data => {
                //käydään data läpi
                data.forEach(function(item) {
                    var marker = L.marker([item.lat, item.lon], {icon: kelikameraIkoni}).addTo(map);
                    console.log(marker);
                    //kuvalinkki
                    var imageUrl = item.image_url[0];
                    var popupContent = `
                    <b>Kelikameran kuva:</b><br>
                    <img src="${imageUrl}" alt="Image" style="max-width: 200px; max-height: 200px;">`;
                    marker.bindPopup(popupContent, {maxWidth: "auto"});
                });
            })
            .catch(error => {
                console.error('Error fetching coordinates:', error);
            });

        //kuuntelee milloin karttaa painetaan
        map.on('click', function(e) {
            var lat = e.latlng.lat.toFixed(6);
            var lon = e.latlng.lng.toFixed(6);

            if (marker) {
                map.removeLayer(marker);
            }

            marker = createMarker(lat, lon);

            //markerin tiedot talteen
            markers[markerCounter] = {
                lat: lat,
                lon: lon,
                marker: marker
            };

            //koordinaattitiedot flaskiin
            var formData = new FormData();
            formData.append('lat', lat);
            formData.append('lon', lon);
            fetch('/klikkikoordinaatit', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
            markerCounter++;
        });

        //haetaan säätiedot koordinaattien perusteella
        function fetchWeatherData(lat, lon, markerCounter, marker) {
            fetch('/saatiedothaku?lat=${lat}&lon=${lon}')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const weatherInfo = data[markerCounter];
                    console.log(data);
                    
                    const popupContent = `
                        <b>Koordinaatit:</b><br>
                        Latitude: ${lat}<br>
                        Longitude: ${lon}<br>
                        <b>Säätiedot:</b><br>
                        Paikka: ${weatherInfo.nimi}<br>
                        Lämpötila: ${weatherInfo['lämpötila']}°C<br>
                        Tuntuu kuin: ${weatherInfo['tuntuu kuin']}°C<br>
                        Näkyvyys: ${weatherInfo.näkyvyys} km<br>
                        Tuulennopeus: ${weatherInfo.tuuli} kph<br>
                        Tuulen suunta: ${weatherInfo['tuulen suunta']}<br>
                        Ilmapaine: ${weatherInfo['ilman paine']} mb<br>
                        Tila: ${weatherInfo.säätila}<br>
                        `;
                    marker.bindPopup(popupContent).openPopup();
                    marker.openPopup();

                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    
    //tällä tehdään kartalle klikatut markerit
    function createMarker(lat, lon) {
        var marker = L.marker([lat, lon]).addTo(map);
        marker.markerId = markerCounter;
        marker.clickCount = 0;

        function delayedPopup() {
            marker.bindPopup(fetchWeatherData(lat, lon, markerCounter, marker));
        }

        //pitää olla viivettä tai ei toimi
        setTimeout(delayedPopup, 50); // Adjust the delay time as needed
        marker.on('click', function(e) {
            marker.clickCount++;
            if (marker.clickCount == 1) {
                map.removeLayer(marker); // Remove the marker on the second click
            } else {
                fetchWeatherData(lat, lon, markerCounter, marker);
            }
        });

        return marker;
    }

    
    </script>

</body>

</html>